@font-face {
    font-family: Delicious;
    src: url('../../fonts/Quicksand-Regular.otf');
}

h3, h2 { font-family: Delicious; }

.thelogo {
    margin-top: 50px;
}
.top-div {
    background-color: rgb(22, 160, 133);
    background-size: 100% 100%;
    width: 100%;
    height: 100&;
    text-align: center;
    color: white;
    overflow: hidden;
    font-family: Delicious;
}
small a {
    text-decoration: none;
    color: #FFFFFF;
}
.titleImg {
    max-width: 100%;
}
.titleMotto {
    margin: 0 auto;
    max-width: 65%;
}

.signup {
    margin: 0 auto;
    max-width: 350px;
    height: auto;
    margin-top: 25px;
}

.phone {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
}