@font-face {
    font-family: Delicious;
    src: url('../../fonts/Quicksand-Regular.otf');
}

.thelogo {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3, h2 { font-family: Delicious; }


body {
    font-family: Delicious;
    background: rgb(22, 160, 133);
    background: rgb(50,58,68);
}
.container {
    margin: 0 auto;
    max-width: 728px;
    height: auto;
    overflow:hidden;
}

.container {

}
.header {
  text-align:center;

}
.titleImg {
    max-width: 100%;
}

.imageProfile {
    max-height: 220px;
    width: auto;
    border-radius: 75%;
    margin-top: 30px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
}
div.profile{
    background: #E4F1FE;
    float:left;
    text-align: right;
    margin-right:20px;
    width:240px;
    max-height:200px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.125);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.listview {
    min-width: 200px;
    background: #E4F1FE;
    text-align: center;
    overflow:hidden;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.125);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.content {
    padding:10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 120px;
}

div.contentChat{
    padding:10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 320px;
}

.divTopper {
    background-color: #303030;
    background: rgb(22, 160, 133);
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content:center;
    align-content:center;
    text-align: center;
    flex-direction:column;
}

section{
    background: #E4F1FE;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);

}

.chatlist {
    padding-top: 10px;
}
ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.chatlist li {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction:column;
    min-height: 35px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
}
.chatlist a {
    text-decoration: none;
}
.parentMessageOther {
    width: 75%;
    float: right;
}
.parentMessageUser {
    width: 75%;
    float: left;
}
.chatMessageOther{
    /* background-color: #C0392B;
     border: solid 2px #C0392B;*/
    color: #000000;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
    width: 100%;

}
.chatMessageUser {
    /*background-color: rgb(22, 160, 133);
    border: solid 2px rgb(22, 160, 133);*/
    color: black;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
    width: 100%;
}

input {
  margin: 0px 0px 0px 0px;
  border: 0;
  height: 2.5em;
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 1.0em;
}
input:focus { 
  background-color: #f3f3f3;
  outline: 0;
}
input.topInput {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.submitmessage {
    margin: 0;
}

footer {
    text-align: center;
    margin: 4px auto;
    color: white;
}

.left {
    font-size: 11px;
    color: black; 
    float: left;
    display: inline-block;
}
.right {  
    float: right;
    display: inline-block;
}

.theDate {
    text-align: right;
    font-size: 11px;
}








button {
    height: 2em;
    width: 100%;
    border: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    background: #66CC66;
    color:#f8f8f8;
    font-size: 1.5em;
}
button:focus {
    background: #5CB75C;
    outline: 0;
}
button:hover {
    height: 2em;
    width: 100%;
    border: 0px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    background: #5CB75C;
    color:#f8f8f8;
    font-size: 1.5em;
}
button:active {
    padding: 1px 0 0 0;
    height: 2em;
    width: 100%;
    border: 0px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.125);
    background: #27B427;
    color:#f8f8f8;
    font-size: 1.5em;
}
  
  
  
.deleteRoom {
    height: 2em;
    width: 100%;
    border: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    background: rgb(245, 215, 110);
    color:#f8f8f8;
    font-size: 1.5em;
}
.deleteRoom:focus {
    background: rgb(247, 202, 24);
    outline: 0;
}
.deleteRoom:hover {
    height: 2em;
    width: 100%;
    border: 0px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    background: rgb(247, 202, 24);
    color:#f8f8f8;
    font-size: 1.5em;
}
.deleteRoom:active {
    padding: 1px 0 0 0;
    height: 2em;
    width: 100%;
    border: 0px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.125);
    background: rgb(247, 202, 24);
    color:#f8f8f8;
    font-size: 1.5em;
}


  .leaveRoom {
  height: 2em;
  width: 100%;
  border: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  background: #e74c3c;
  color:#f8f8f8;
  font-size: 1.5em;
  }
  .leaveRoom:focus {
    background: #c0392b;
    outline: 0;
  }
  .leaveRoom:hover {
  height: 2em;
  width: 100%;
  border: 0px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  background: #c0392b;
  color:#f8f8f8;
  font-size: 1.5em;
  }
  .leaveRoom:active {
  padding: 1px 0 0 0;
  height: 2em;
  width: 100%;
  border: 0px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.125);
  background: #c0392b;
  color:#f8f8f8;
  font-size: 1.5em;
  }


@media screen and (max-width: 500px) {
   div.profile { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    margin-bottom: 50px;
  }
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

