@font-face {
    font-family: Delicious;
    src: url('../../fonts/Quicksand-Regular.otf');
}

h3, h2 { font-family: Delicious; }


body {
    font-family: Delicious;
    background: rgb(22, 160, 133);  
}
.container {
    margin: 0 auto;
    max-width: 728px;
    height: auto;
    overflow:hidden;
}

.container {

}
.header {
  text-align:center;

}
.titleImg {
    max-width: 100%;
}

.imageProfile {
    max-height: 220px;
    width: auto;
    border-radius: 75%;
    margin-top: 30px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
}
div.profile{
    background: #E4F1FE;
    float:left;
    text-align: center;
    overflow:hidden;
    margin-right:20px;
    width:240px;
    min-height:200px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.125);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.listview {
    background: #E4F1FE;
    text-align: center;
    overflow:hidden;
    min-height:200px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.125);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.content {
    padding:10px;
}
.divTopper {
    background-color: #303030;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

section{
    background: #E4F1FE;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);

}
.address, .chats  {
    
    margin-bottom: 51px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.2);
    width: inherit;
}
h2 {
    color: #303030;  
}
h3{
    font-size: 18px;
    color: #303030;
    margin-bottom: 15px;
}
p {
    color: gray;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 28px;
}


.chatlist {
    width: inherit;
    padding-top: 10px;
}
ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.chatlist li {
    overflow: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction:column;
    height: 35px;
    background-color: #044F67;
    border: solid 2px #044F67;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.chatlist a {
    text-decoration: none;
}
.chatlist .nearbyChatsOwner{
    background-color: #A87CA0;
    border: solid 2px #A87CA0;

}

li:hover{
    box-shadow: 2px 5px 2px rgba(0,0,0,0.5);
}

.logoutbtn {
    height: 2em;
    width: 100%;
    border: 0px;
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    background: #e74c3c;
    color:#f8f8f8;
    font-size: 1.5em;
}
.logoutbtn:focus {
    background: #c0392b;
    outline: 0;
}
.logoutbtn:hover {
    height: 2em;
    width: 100%;
    border: 0px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    background: #c0392b;
    color:#f8f8f8;
    font-size: 1.5em;
}
.logoutbtn:active {
    padding: 1px 0 0 0;
    height: 2em;
    width: 100%;
    border: 0px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.125);
    background: #c0392b;
    color:#f8f8f8;
    font-size: 1.5em;
}
form.logoutForm {
    margin-bottom: 0;
}

.menuIcon {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    max-width: 15%;
    height: auto;
}
.menubar {
    margin: 0 auto;
}


@media screen and (max-width: 400px) {
   div.profile { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    margin-bottom: 50px;
  }
}



